@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind plugins;

.bg-cookies {
  background-image: url("../images/cookies-n-pink.jpg");
  background-size: cover;
}
.bg-slanted {
  background-image: url("../images/purple-slanted.jpg");
  background-size: cover;
  background-attachment: fixed;
}
