@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind plugins;

.bg-sky {
  background-image: url("../images/purple-pink-sky-unsplash.jpg");
  background-size: cover;
}
.bg-crinkled {
  background-image: url("../images/purple-pink-crinkle-unsplash.jpg");
  background-size: cover;
}
