@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind plugins;

.bg-cookies {
  background-image: url("../images/cookies-n-pink.jpg");
  background-size: cover;
}
.bg-slanted {
  background-image: url("../images/purple-slanted.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.gallery1 {
  background-image: url("../images/gallery/FullSizeRender1.jpeg");
  background-size: cover;
}
.gallery4 {
  background-image: url("../images/gallery/FullSizeRender4.jpeg");
  background-size: cover;
}
